Source: gwp
Maintainer: Lucas Di Pentima <lucas@lunix.com.ar>
Section: contrib/games
Priority: optional
Build-Depends: debhelper (>= 4.0.0), gnome-core-devel, python-dev, libpcre3-dev, libgtkglext1-dev, scrollkeeper, python-gtk2-dev
Standards-Version: 3.6.1.1

Package: gwp
Architecture: i386
Section: contrib/games
Priority: optional
Depends: python-gtk2, python, python-glade2, ${shlibs:Depends}
Description: a VGA Planets strategy game client for GNOME
 GNOME War Pad is a VGA Planets client written in C for the GNOME
 desktop environment. It's design is very 'starchart centric',
 giving a global view of the game at all times.
 .
 VGA Planets is a space conquest, play-by-email, strategy game
 that can be played by 11 players simultaneously, it's been
 played by strategy fanatics since the FidoNet times until now.
 .
 Homepage: http://gwp.lunix.com.ar
