Source: gwp
Maintainer: Lucas Di Pentima (Tel: 54 342 4593122) <lucas@lunix.com.ar>
Section: contrib/games
Priority: optional
Build-Depends: debhelper (>= 4.0.0), libgnome2-dev, python2.4-dev
Standards-Version: 3.6.0

Package: gwp
Architecture: i386-linux
Section: contrib/games
Priority: optional
Depends: python-gtk2, python2.4, ${shlibs:Depends}, ${misc:Depends}
Description: A VGA Planets strategy game client for GNOME.
 GNOME War Pad is a VGA Planets client written in C for the GNOME
 desktop environment. It's design is very 'starchart centric',
 giving a global view of the game at all times.
 .
 VGA Planets is a space conquest, play-by-email, strategy game
 that can be played by 11 players simultaneously, it's been
 played by strategy fanatics since the FidoNet times until now.
